{% set bem_block = 'kenny-hero-block' %}
{% set classes = [
  bem_block,
  image and video ? bem_block ~ '--image-and-video',
  image and not video ? bem_block ~ '--image',
  not image ? bem_block ~ '--plain',
  subtitle ? bem_block ~ '--subtitle' : bem_block ~ '--no-subtitle',
] %}

{% if image and video %}
  <div {{ attributes.addClass(classes) }}>
    <video autoplay loop muted class="{{ bem_block }}__video">
      {% for type, video_uri in video %}
        <source src="{{ file_url(video_uri) }}" type="{{ type }}">
      {% endfor %}
      {{ 'Your browser does not support the video tag'|t }}
    </video>
  </div>
{% elseif image %}
  <div {{ attributes.addClass(classes) }}>
    <img src="{{ image|image_style('kenny_hero_block_large') }}" alt="{{ title }}" class="{{ bem_block }}__image">
  </div>
{% endif %}


<div class="{{ bem_block }}__content">
  {% if title %}
    <h1 class="{{ bem_block }}__title">{{ title }}</h1>
  {% endif %}

  {% if subtitle %}
    <div class="{{ bem_block }}__subtitle">{{ subtitle|raw }}</div>
  {% endif %}
</div>